.logo{
    
    font-family: 'Noto Serif', serif;
    font-size: 30px;
}
.nav{
    position:sticky;
    top: 0;
    z-index: 999;     
    border-bottom-color: black;
    -webkit-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.6); 
    box-shadow: 10px 1px 15px -1px rgba(0,1,0,0.6);
    border-radius: 10px;
}
/* .commentText{
    overflow-y: scroll;
    height: 50px;
} */

.commentText {
    max-height: 100px;
    overflow: hidden;
    position: relative;
}

.commentText{
    height: 100%;
    
    padding-right: 10px;
    /* max-height: 25vh;
    max-width: 90%;
    background-color: #a92525;
    overflow-y:scroll; */
    /* position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    transform:translateY(100%);
    animation: commentText 3s linear infinite; */
}
/* 
@keyframes commentText {
    0%   { 
        transform: translateY(100%);        
    }
    100% { 
        transform: translateY(-100%); 
    }
} */

.comment{
    overflow-y: scroll;
    height: 50px;

}

.comment::-webkit-scrollbar {
    display: none;
}

/* image model */
.image-model{
    position: fixed;
    top: 20%;
    left: 40%;
    width: 100%;
    height: 100%;
    /* background: rgba(0,0,0,0.5); */
  }
  .image-model img{
    display: block;
    position: fixed;
    
    max-width: 500px;
    max-height: 300px;
    margin: 60px auto;
    box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
    border: 3px solid white;
  }

  


  .card55 {
    position: fixed;
    top: 10%;
    left: 21%;
    width: 100%;
    /* height: 100%; */
    background: rgba(238, 221, 221, 0.5);
    border-radius: 14px;
   





    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial; */
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card55 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card55 button:hover {
    opacity: 0.7;
  }
  .liked{
   
   bottom: 90%;
  }